<div class="container">
    <h2 oda-label="home.title"></h2>

    <div class="row">
        <div class="col-sm-3" style="text-align: center;">
            <img src="server/resources/FRO/avatar.png" class="img-thumbnail img-responsive">
        </div>
        <div class="col-sm-3">
            <h2>Fabrice Rosito</h2>
            Chargé de projet - Consultant Technique <br>
            Coach en Agilité - International <br>
            Région de Grenoble , France <br>
            35 ans, Père et Mobile <br>
        </div>
        <div class="col-sm-6">
            <p>
                <a href="http://www.linkedin.com/pub/fabrice-rosito/43/6b4/b57" target="new">Me retrouver sous Linkedin</a><br>
                <a href="javascript:$.Oda.Router.navigateTo({'route':'contact','args':{}});">Me contacter</a><br>
            </p>
            <p>
                <b>Dernier poste</b> : 2014 - Consultant Technique International chez <a href="http://www.bonitasoft.com/" target="new" title="BonitaSoft">BonitaSoft</a><br>
                <b>Formations et certifications</b> :<br>
                <UL>
                    <li>Janvier 2014 - ATDD, Développement pilot&eacute; par les tests d&rsquo;acceptance</li>
                    <li>Novembre 2013 - Kanban, la force du flux</li>
                    <li>Octobre 2013 - Devenir Agile avec Scrum</li>
                    <li>Mai 2013 - Formation D&eacute;veloppement web .NET</li>
                </UL>
                <b>Exp&eacute;riences et comp&eacute;tences</b> : <a id="link_passe" href="javascript:$.Oda.Router.navigateTo({'route':'passe','args':{}});">15 ans en d&eacute;tails ici</a><br>
                <b>Mon CV au format plat</b> : <a href="http://perso-happykiller.rhcloud.com/LFJFR/server/resources/FRO/CV_ROSITOF_FRO.pdf" download>ici</a><br>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <b>Langues</b> : Anglais (bon niveau &eacute;crit et oral), Espagnol (correct &eacute;crit et oral)<br>
            <b>Sports</b> : Natation, Basketball<br>
            <b>Voyages</b> : Europe<br>
            <b>Diverstissements</b> : Jeux, Cinema, Musique, Sortie entre amis<br>
            <b>Implications</b> : Pr&eacute;sident du conseil Syndical de son lotissement, <a href="http://www.alpesjug.org/" target="new" title="Le Java User Group des Alpes">JUG</a>, <a href="http://perso-happykiller.rhcloud.com/ODA/" target="new" title="Framework Oda">Framework Oda</a><br>
        </div>
        <div class="col-sm-6">
            <b>Intro</b> :
            <p>Comptant plus de 15 ann&eacute;es d'exp&eacute;riences dans le secteur des technologies de l'information et du logiciel, je poss&egrave;de un vaste savoir-faire en gestion de projets ainsi que dans la mise en oeuvre de solutions technologiques.</p>
            <p>Passionn&eacute; par l'Agilit&eacute;, l'int&eacute;gration continue et l'architecture, j'ai souhait&eacute; vous offrir mon exp&eacute;rience.</p>
            <p>En savoir plus sur mes souhaits <a href="javascript:$.Oda.Router.navigateTo({'route':'futur','args':{}});" title="Citation needed">Ici</a></p>
        </div>
    </div>
</div>

<script>
    $.Oda.App.Controler.Home.start();
</script>