<div class="container">
    <h2 oda-label="passe.title"></h2>

    <div class="row">
        <div class="col-sm-12">
            <h3>Mes comp&eacute;tences</h3>
            <label>* 1 = de base, 2 = familier, 3 = comp&eacute;tent, 4 = expert</label>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Savoir faire</th>
                    <th>Ann&eacute;es</th>
                    <th>Niveau*</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th colspan="3">Leadership</th>
                </tr>
                <tr>
                    <td>Agilité (Scrum, Kanban, TDD, BDD)</td>
                    <td>5</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Urbaniste</td>
                    <td>2</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Architecte</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Manager.</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
                <tr>
                    <th colspan="3">Comp&eacute;tences techniques</th>
                </tr>
                <tr>
                    <td>Client (JQuery, AngularJS, JQueryMobile, Bootstrap, Higtchart)</td>
                    <td>6</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>Server (Php, Java, .Net, Ruby)</td>
                    <td>10</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>SQL</td>
                    <td>8</td>
                    <td>4</td>
                </tr>
                <tr>
                    <th colspan="3">Connaissance des applications</th>
                </tr>
                <tr>
                    <td>BDD : MYSQL, PostgreSQL, MSQL Serveur</td>
                    <td>8</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>IDE : Eclipse, NetBeans, Visual Studio, Jdeveloper, IntelliJ</td>
                    <td>8</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Gestion des sources : SVN, Git</td>
                    <td>5</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Serveur : WebSphere, Jonas, Tomcat, IIS, Apache</td>
                    <td>5</td>
                    <td>3</td>
                </tr>
                <tr>
                    <th colspan="3">Autre comp&eacute;tence pertinente</th>
                </tr>
                <tr>
                    <td>Statisticien.</td>
                    <td>5</td>
                    <td>2</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h3>Mes exp&eacute;riences</h3>
            <div class="form-group">
                <label for="filter" oda-label="passe.filter">passe.filter</label>
                <input type="text" class="form-control" oda-input-text="filter" oda-input-text-tips="passe.filter-tips" oda-input-text-placeholder="passe.filter-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
            <div id="listExp"></div>
        </div>
    </div>
</div>

<script>
    $.Oda.App.Controler.Passe.start();
</script>

<script id="experience" type="text/template">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">{{title}} {{customer}} - {{begin}} &agrave; {{end}}</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            {{cmt}}
                            <dl>
                                {{fonction}}
                                {{secteur}}
                                {{fonctionnel}}
                                {{realisation}}
                                {{language}}
                                {{applicatif}}
                                {{develloppement}}
                                {{bdd}}
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>